*{
    box-sizing: border-box;
}
/* Header*/
.headerin{
    margin: 20px 1em auto 5px;
    display: grid;
    gap: 35px;
}
.imgescudo{
    width: 80px;
}
.encabezado{
    text-align: left;
    grid-area: encab;
    
}
.Escudo{
    text-align: right;
    grid-area: imgescudo;
}
.uni{
    font-family: 'Phudu', cursive;
    font-size: 25px;
}
.titul{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.headerin {
    grid:
        "imgescudo encab" auto;
    align-items: start;
}


/*Menu*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2a88c2;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

  
li a:hover {
    background-color: #216b99;
    font-weight: 600;
}

/* Grupo cards 1*/
.grupo{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}
.card1, .card2, .card3, .card4, .card5,
.card6, .card7, .card8, .card9,.card10,
.card11, .card12{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
}
  
.card1:hover, .card2:hover, .card3:hover, .card4:hover, .card5:hover,
.card6:hover, .card7:hover, .card8:hover, .card9:hover,.card10:hover,
.card11:hover, .card12:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.container {
    padding: 2px 16px;
}
.imgavatar{
    width: 100%;
}
.cardestudiantes1{
    display: grid;
    gap: 35px;
    grid-area: colum1;
}
.card1{
    grid-area: card1;
}
.card2{
    grid-area: card2;
}
.card3{
    grid-area: card3;
}
.card4{
    grid-area: card4;
}
.card5{
    grid-area: card5;
}
.card6{
    grid-area: card6;
}
.card7{
    grid-area: card7;
}
.card8{
    grid-area: card8;
}
.card9{
    grid-area: card9;
}
.card10{
    grid-area: card10;
}
.card11{
    grid-area: card11;
}
.card12{
    grid-area: card12;
}

.cardestudiantes1 {
    grid:
        "card1  card2  card3"  
        "card4  card5  card6"
        "card7  card8  card9"
        "card10  card11  card12";
    align-items: start;
}

/* Grupo cards 2*/
.cardestudiantes2{
    display: grid;
    gap: 35px;
    grid-area: colum2;
}

.card13,.card14,.card15,
.card16,.card17,.card18,.card19,.card20,
.card21,.card22,.card23,.card24{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
}

.card13:hover,.card14:hover, .card15:hover,
.card16:hover,.card17:hover,.card18:hover,.card19:hover,.card20:hover,
.card21:hover,.card22:hover,.card23:hover,.card24:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card13{
    grid-area: card13;
}
.card14{
    grid-area: card14;
}
.card15{
    grid-area: card15;
}
.card16{
    grid-area: card16;
}
.card17{
    grid-area: card17;
}
.card18{
    grid-area: card18;
}
.card19{
    grid-area: card19;
}
.card20{
    grid-area: card20;
}
.card21{
    grid-area: card21;
}
.card22{
    grid-area: card22;
}
.card23{
    grid-area: card23;
}
.card24{
    grid-area: card24;
}
.cardestudiantes2{
    grid:
        "card13  card14  card15"  
        "card16  card17  card18"
        "card19  card20  card21"
        "card22  card23  card24";
    align-items: start;
}

.Salon{
    margin: 25px;
    display: grid;
    gap: 100px;;
}
.Salon {
    grid:
        "colum1 colum2";
    align-items: start;
}

/* Button check*/
.buttoncheck {
    display: block;
    position: relative;
    padding: 1.5px;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.buttoncheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
.buttoncheck:hover input ~ .checkmark {
    background-color: #ccc;
}
  
.buttoncheck input:checked ~ .checkmark {
    background-color: #2196F3;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.buttoncheck input:checked ~ .checkmark:after {
    display: block;
}
.buttoncheck .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
  
  







